<h1> Welcome to Maker Peeps</h1></br>

<h2> See most recent peeps below...</h2></br>
<!--#if maker is logged in then show this-->
<a href="peeps/new"> Go ahead peep...</a>
<!--else -->
<a href="session/new"> Existing user log in here </a>
<a href="users/new"> Sign_Up here </a>

<ul id='peeps'>
  <% @all_peeps.reverse.each do |show_peeps| %>
  <p>
    <li><%= show_peeps.peep  %> => <%= show_peeps.user.name %>
    <% end %>
  </ul>
