Now you are logged in</br>
Add new message below:</br>
<form action="/peeps" method="post">
Handle: <input type="text" name="handle"> <br>
Peep: <input type="text" name="peep_body"><br>
<input type="submit" value="Submit your peep">
</form>
<!--BACK TO peeps/index
LOG OUT BUTTON-->
